= form_for([:admin, @recipe], :html => { :multipart => true }) do |f|
  %fieldset
    -if @recipe.errors.any?
      #error_explanation
        %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
        %ul
          - @recipe.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :title
      .input
        = f.text_field :title

    -# image upload
    - unless f.object.new_record?
      .clearfix
        .input
          %ul.media-grid
            = f.fields_for :recipe_photos do |builder|
              = render 'sort_recipe_photos', :f => builder
    .clearfix
      = f.label "Upload Images"
      = f.fields_for :recipe_photos do |builder|
        = render 'recipe_photo_fields', :f => builder
    .clearfix
      .input
        = link_to_add_fields "Add Recipe Photos", f, :recipe_photos
    .clearfix
      = f.label :description
      .input
        = f.text_area :description, :class => 'xxlarge'
    
    -# ingredients
    .clearfix
      = f.label "Add Ingredients"
    - unless f.object.new_record?
      .clearfix
        .input
          = f.fields_for :ingredients do |builder|
            = render 'sort_ingredients', :f => builder
    .clearfix
      = f.fields_for :ingredients do |builder|
        = render 'ingredient_fields', :f => builder
    .clearfix
      .input
        = link_to_add_fields "Add Ingredients", f, :ingredients

    -# steps
    .clearfix
      = f.label :preparation
    - unless f.object.new_record?
      .clearfix
        .input
          = f.fields_for :steps do |builder|
            = render 'sort_steps', :f => builder
    .clearfix
      = f.fields_for :steps do |builder|
        = render 'step_fields', :f => builder
    .clearfix
      .input
        = link_to_add_fields "Add Steps", f, :steps

    .actions
      = f.submit 'Save', :class => 'btn primary'
      = link_to 'Back', admin_recipes_path, :class => 'btn'
      - if params[:action] == 'edit'
        = link_to 'Show', @recipe, :class => 'btn success'
