= form_for([:admin, @recipe], :html => { :multipart => true }) do |f|
  -if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
    -# if @recipe.recipe_photos.present?
    - @recipe.recipe_photos.each do |photo|
      = image_tag photo.image.url(:small)
  .field
    = f.label :image
    = f.fields_for :recipe_photos do |builder|
      = render 'recipe_photo_fields', :f => builder
  .field
    = f.label :ingredients
    = f.text_area :ingredients
  .field
    = f.label :directions
    = f.text_area :directions
  .actions
    = f.submit 'Save'
