%p#notice= notice

%p
  %b Title:
  = @recipe.title
%p
  %b Ingredients:
  = @recipe.ingredients
%p
  %b Directions:
  = @recipe.directions

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
