#slideshow_title
  %h1= @recipe.title

%p#notice= notice

.slideshow
  - @recipe.recipe_photos.each do |photo|
    = image_tag photo.image.url(:big)

.description
  %h2 Description:
  %div= @recipe.description

.ingredients
  %h3 Ingredients
  - @recipe.ingredients.each do |ingredient|
    %p.name= ingredient.name

.preparation
  %h4 Preparation
  - @recipe.steps.each do |step|
    %p.name= step.name
