#slideshow_title
  %h1= @recipe.title

%p#notice= notice

.slideshow
  - @recipe.recipe_photos.each do |photo|
    = image_tag photo.image.url(:big)

.description
  %h2 Description:
  %div= @recipe.description

.ingredients
  - @recipe.ingredients.each do |ingredient|
    %p.name= ingredient.name
    %p.amount= ingredient.amount

.preparation
  %ul
    - @recipe.steps.each do |step|
      %li.name= step.name
