#slideshow_title
  %h1= @recipe.title

.slideshow
  - @recipe.recipe_photos.each do |photo|
    = image_tag photo.image.url(:big)

%p#notice= notice

%div
  %b Description:
  %div= @recipe.description
%div
  %b Preparation:
  %p= @recipe.preparation
