%p#notice= notice

%h1= @recipe.title

- @recipe.recipe_photos.each do |photo|
  = image_tag photo.image.url(:big)


%div
  %b Description:
  %div= @recipe.description
%div
  %b Preparation:
  %p= @recipe.preparation
